<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fundName</key>
		<string>中欧时代先锋股票A</string>
		<key>fundID</key>
		<string>001938</string>
		<key>fundType</key>
		<string>股票型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.800000000000001</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>汇添富创新医药主题混合</string>
		<key>fundID</key>
		<string>006113</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>0</integer>
		<key>fundRating</key>
		<real>9.9</real>
		<key>institutionalFeatured</key>
		<string></string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>易方达中小盘混合</string>
		<key>fundID</key>
		<string>110011</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.9</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>富国天惠成长混合（LOF）A</string>
		<key>fundID</key>
		<string>161005</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>4</integer>
		<key>fundRating</key>
		<real>8.300000000000001</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>景顺长城鼎益混合（LOF）</string>
		<key>fundID</key>
		<string>162605</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<integer>10</integer>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>兴全趋势投资混合（LOF）</string>
		<key>fundID</key>
		<string>163402</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>8.6</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>中欧新蓝筹混合A</string>
		<key>fundID</key>
		<string>166002</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>0</integer>
		<key>fundRating</key>
		<real>8.300000000000001</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>中欧价值发现混合A</string>
		<key>fundID</key>
		<string>166005</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>谨慎</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>4</integer>
		<key>fundRating</key>
		<integer>7</integer>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>景顺长城新兴成长混合</string>
		<key>fundID</key>
		<string>260108</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<integer>10</integer>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>广发稳健增长混合 </string>
		<key>fundID</key>
		<string>270002</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.5</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>汇添富价值精选混合A</string>
		<key>fundID</key>
		<string>519069</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>8.800000000000001</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>交银优势行业混合</string>
		<key>fundID</key>
		<string>519697</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>8.9</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>交银定期支付双息平衡混合</string>
		<key>fundID</key>
		<string>519732</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.6</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>交银施罗德新成长混合</string>
		<key>fundID</key>
		<string>519736</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.300000000000001</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>农银汇理策略精选混合</string>
		<key>fundID</key>
		<string>660010</string>
		<key>fundType</key>
		<string>混合型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.300000000000001</real>
		<key>institutionalFeatured</key>
		<string></string>
		<key>isStarManager</key>
		<true/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>汇添富中证主要消费ETF联接</string>
		<key>fundID</key>
		<string>000248</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string>高估值</string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.9</real>
		<key>institutionalFeatured</key>
		<string></string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>天弘中证500指数A</string>
		<key>fundID</key>
		<string>000962</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string>低估值</string>
		<key>fundStarRating</key>
		<integer>2</integer>
		<key>fundRating</key>
		<real>2.3</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>华夏上证50ETF联接A</string>
		<key>fundID</key>
		<string>001051</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string>中估值</string>
		<key>fundStarRating</key>
		<integer>4</integer>
		<key>fundRating</key>
		<real>8.699999999999999</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>华夏中证500ETF联接A</string>
		<key>fundID</key>
		<string>001052</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string>低估值</string>
		<key>fundStarRating</key>
		<integer>2</integer>
		<key>fundRating</key>
		<real>2.3</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>前海开源再融资主题精选股票</string>
		<key>fundID</key>
		<string>001178</string>
		<key>fundType</key>
		<string>股票型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.6</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>信达澳银新能源产业股票</string>
		<key>fundID</key>
		<string>001410</string>
		<key>fundType</key>
		<string>股票型型</string>
		<key>institutionalView</key>
		<string>乐观</string>
		<key>institutionalPotential</key>
		<string></string>
		<key>fundStarRating</key>
		<integer>5</integer>
		<key>fundRating</key>
		<real>9.9</real>
		<key>institutionalFeatured</key>
		<string>好基推荐</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>景顺长城中证500ETF联接</string>
		<key>fundID</key>
		<string>001455</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string>低估值</string>
		<key>fundStarRating</key>
		<integer>2</integer>
		<key>fundRating</key>
		<real>2.6</real>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<false/>
	</dict>
	<dict>
		<key>fundName</key>
		<string>天弘上证50指数C</string>
		<key>fundID</key>
		<string>001549</string>
		<key>fundType</key>
		<string>指数型</string>
		<key>institutionalView</key>
		<string>中立</string>
		<key>institutionalPotential</key>
		<string>中估值</string>
		<key>fundStarRating</key>
		<integer>4</integer>
		<key>fundRating</key>
		<integer>9</integer>
		<key>institutionalFeatured</key>
		<string>精选</string>
		<key>isStarManager</key>
		<false/>
	</dict>
</array>
</plist>
